

#MmjTop {
    border: 5px solid #376234;
    border-radius: 12px;
    background-color: #C5C7C5;
    /* border-spacing: 10px; */
}

 #MmjContent{
     padding: 7px 7px;
 }

 
/*<!-- Start Square Appointments Embed code -->
<p style="text-align:center" > <a style="background-color: #007f2b; margin-top: 10px; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 5px; line-height: 0px; padding: 75px 75px; border-radius: 3px; text-decoration: none; font-weight: 500; font-size: 35px; cursor: pointer; display: inline-block;" href="https://square.site/book/92P6YC9S4NSY8/living-green-saint-louis-crestwood-mo" target="_blank" rel="nofollow" > Book an Appointment </a > </p >
<!-- End Square Embed Code-- >*/


