<!-- #region Education Source Code -->


<p class="font_8"><span style="font-size: 12pt;">Missouri is legal for medical cannabis and now is the time to start your education! Whether you are wanting to know more for yourself or a loved one, you are a healthcare professional or desire to learn about getting into the industry - you are in the right place! </span></p>
<p class="font_8"><span style="font-size: 12pt;">Living Green Resource Center prides itself on offering comprehensive education through several established &amp; renowned online platforms. Please see the links below to get started with your education today!</span></p>
<p> </p>
<div id="comp-jnes2fb0" class="txtNew" data-packed="false" data-min-height="208">
    <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Cannabis Education, Training &amp; Certification, and Industry Knowledge</span></h6>
    <p class="font_8"><span class="color_15" style="font-size: 12pt;">​</span></p>
    <ul class="font_100">

        <li>
            <p class="font_8"><span style="font-size: 12pt;"><a href="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" target="_blank" rel="undefined" data-content="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" data-type="external">GreenFlower</a> - Certifications for all aspects of the cannabis industry: Fundamentals, cultivation, business, law, patient care, medical and science. </span></p>
        </li>

    </ul>
    <br />
    <ul class="font_100">
        <li>
            <p class="font_8" style="text-align: center;"><span style="font-size: 12pt;"><a href="https://thesacredplant.com/watch" target="_blank" rel="undefined" data-content="https://thesacredplant.com/watch" data-type="external">The Sacred Plant Docuseries - Overview of Cannabis</a><a href="https://thesacredplant.com/watch" target="_blank" rel="undefined" data-content="https://thesacredplant.com/watch" data-type="external"> - 7 Part Docuseries featuring top Cannabis Doctors, Researchers, and real patient testimonials.</a></span></p>
        </li>
    </ul>
    <br />
    <ul class="font_100">
        <li>
            <p class="font_8" style="text-align: center;"><span style="font-size: 12pt;"><a href="https://www.greencultured.co/cannabiscollege/1030/" target="_blank" rel="undefined" data-content="https://www.greencultured.co/cannabiscollege/1030/" data-type="external">GreenCulturED</a> - Wide range of certifications on growing practices, compliance issues, general cannabis business practices and dispensary technician training.</span></p>
        </li>
    </ul>
    <br />
    <ul class="font_100">

        <li>
            <p class="font_8"><span style="font-size: 12pt;"><a href="https://themedicalcannabisinstitute.org/?ref=58" target="_blank" rel="undefined" data-content="https://themedicalcannabisinstitute.org/?ref=58" data-type="external">TMCI Education &amp; Certification - Physicians, Nurses, Healthcare Professionals</a><a href="https://themedicalcannabisinstitute.org/?ref=58" target="_blank" rel="undefined" data-content="https://themedicalcannabisinstitute.org/?ref=58" data-type="external"> - Full Curriculum, CE, CME, Beginner-Advanced Certification Levels.</a></span></p>
        </li>

    </ul>
</div>
<p> </p>
<p style="text-align: center;"><img src="/images/uploaded/ImageBank1/kidsingarden_1000.jpeg" alt="kids in garden" width="600" height="400" /></p>

<!-- #endregion -->
<!-- #region Education Code -->

<div class="container">

    <div class="Education" style="border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5; text-align:center">
        <div class="EducationTop" style="padding: 7px 7px;">
            <h3>
                <strong>
                    Missouri is legal for <span style="color:#376234">Medical Cannabis</span> and <em>NOW</em>  is the time to start your education!
                </strong>
            </h3>
            <h5>
                Whether you are wanting to know more for yourself or a loved one, you are a healthcare professional or desire to learn about getting into the industry - you are in the right place!
            </h5>
            <h5>
                <strong>
                    Living Green Resource Center prides itself on offering comprehensive education through several established &amp; renowned online platforms. Please see the links below to get started with your education today!
                </strong>
            </h5>
        </div>

        <div class="EducationBottom" style="padding: 7px 7px;">
            <h3>
                Cannabis Education, Training &amp; Certification, and Industry Knowledge
            </h3>
            <ul>
                <li>
                    <p>
                        <strong><a href="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" target="_blank" rel="undefined" data-content="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" data-type="external">GreenFlower</a></strong> - Certifications for all aspects of the cannabis industry: Fundamentals, cultivation, business, law, patient care, medical and science.
                    </p>
                </li>
                <li>
                    <p>
                        <strong><a href="https://thesacredplant.com/watch" target="_blank" rel="undefined" data-content="https://thesacredplant.com/watch" data-type="external">The Sacred Plant Docuseries - Overview of Cannabis</a></strong>- 7 Part Docuseries featuring top Cannabis Doctors, Researchers, and real patient testimonials.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>  <a href="https://www.greencultured.co/cannabiscollege/1030/" target="_blank" rel="undefined" data-content="https://www.greencultured.co/cannabiscollege/1030/" data-type="external">GreenCulturED</a></strong> - Wide range of certifications on growing practices, compliance issues, general cannabis business practices and dispensary technician training.
                    </p>
                </li>
                <li>
                    <p>
                        <strong><a href="https://themedicalcannabisinstitute.org/?ref=58" target="_blank" rel="undefined" data-content="https://themedicalcannabisinstitute.org/?ref=58" data-type="external">TMCI Education &amp; Certification - Physicians, Nurses, Healthcare Professionals</a></strong>- Full Curriculum, CE, CME, Beginner-Advanced Certification Levels.
                    </p>
                </li>
            </ul>
        </div>
    </div>    <div>
        <p style="text-align: center;"><img src="/images/uploaded/ImageBank1/kidsingarden_1000.jpeg" alt="kids in garden" width="600" height="400" /></p>
    </div>
</div>

<!-- #endregion -->