



<div class="container">


    <div id="PatientFormsLeft"style="border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5; text-align:center; float:left">
        <div id="NewPatientTop" style="padding: 7px 7px; text-align:center">
            <p>
                Once you have scheduled and paid for your Physician PreCertification -
            </p>
            <span>
                <a href="https://square.site/book/92P6YC9S4NSY8/living-green-saint-louis-crestwood-mo" target="_blank">Click here to Book</a>
            </span>            <p>
                - please <strong>print</strong>, <strong>read</strong>, <strong>fill out</strong> and <strong>sign</strong> the following required documents for your initial visit:
            </p>
        </div>
        <div id="NewPatientFormLinks" style="text-align:center">
            
            <p>
                <span>
                    <a href="~/pdf/DISCLAIMER-converted.pdf" target="_blank"><strong>Disclaimer</strong></a>
                </span>
            </p>            
            <p>
                <span>
                    <a href="~/pdf/HIPAA (1)-converted.pdf" target="_blank"><strong>HIPPA Form</strong></a>
                </span>
            </p>            
            <p>
                <span>
                    <a href="~/pdf/intake-converted.pdf" target="_blank"><strong>New Patient Form</strong></a>
                </span>
            </p>            
            <p>
                <span>
                    <a href="~/pdf/Cancellation.pdf" target="_blank"><strong>Cancellation Policy</strong></a>
                </span>
            </p>            
            <p>
                <span>
                    <a href="~/pdf/MEDICAL MARIJUANA INFORMED CONSENT FORM.pdf" target="_blank"><strong>Informed Consent</strong></a>
                </span>
            </p>            
            <p>
                <span>
                    <a href="~/pdf/Qualifying Doc.pdf" target="_blank"><strong>Qualification Form</strong></a>
                </span>
            </p>            
            <p>Fill out the <strong>top</strong> portion of this document <strong>only</strong>; the <strong>Doctor</strong> will sign the rest.</p>
        </div>

        <div id="NewPatientBottom" style="padding: 7px 7px; text-align:center" >
            <p>
                We do ask that you please have these forms filled out <strong>before</strong> your visit, and to bring them with you.
                <br />
                Otherwise, you can fill them out at the office.
            </p>
                    <p>
                        Please come 10-15 minutes earlier than your scheduled time in that case, for ample time to read and sign.
                    </p>
            <p>
                If you have any other questions about your visit please contact us:
                <a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a>
                <br/>
                <a href="mailto:livinggreenstlouis@gmail.com" target="_self" data-content="livinggreenstlouis@gmail.com" data-type="mail">livinggreenstlouis@gmail.com </a>
            </p>

        </div>
    </div>


    <div id="PatientFormsRight" style="float:right">
        <img src="~/images/uploaded/images4/medical-marijuana.jpg" />
    </div>
</div>
