<div class="container">
    <div id="PatientFormsLeft" style="border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5; text-align: center; float: left; margin-left: 10%;">
        <div id="NewPatientTop" style="padding: 7px 7px; text-align: center;">
            <p>Once you have scheduled and paid for your Physician PreCertification -</p>
            <p style="text-align: center;"><a style="background-color: #007f2b; margin-top: 10px; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 5px; line-height: 0px; padding: 25px 25px; border-radius: 3px; text-decoration: none; font-weight: 500; font-size: 30px; cursor: pointer; display: inline-block;" href="https://square.site/book/1WTKE9TNCCQM7/living-green-saint-louis" target="_blank" rel="nofollow"> Book an Appointment </a></p>
            <p>- please <strong>print</strong>, <strong>read</strong>, <strong>fill out</strong> and <strong>sign</strong> the following required documents for your initial visit:</p>
        </div>
        <div id="NewPatientFormLinks" style="text-align: center;">
            <p><a href="https://drive.google.com/open?id=1_3vKkZ5scwPihjWXJgXjjjAmMdJTJya_" target="_blank"><strong>Disclaimer</strong></a></p>
            <p><a href="https://drive.google.com/open?id=1gyb8ROHAYpaQRRz646duCmlZ6r_arRlc" target="_blank"><strong>HIPPA Form</strong></a></p>
            <p><a href="https://drive.google.com/open?id=1qzkNxdvXU7qw3VUV_-gpG0kuDengrt0e" target="_blank"><strong>New Patient Form</strong></a></p>
            <p><a href="https://drive.google.com/open?id=1bujRr9clkD_qNW1PnuphLPQl3abpNIna" target="_blank"><strong>Cancellation Policy</strong></a></p>
            <p><a href="https://drive.google.com/open?id=1kD8rV0PCneaax2hUYtwwzN1Snx4OEghD" target="_blank"><strong>Informed Consent</strong></a></p>
            <p><a href="https://drive.google.com/open?id=1fuVYuu39h_nfVl3Zu1dV8XVBVIDQeHWy " target="_blank"><strong>Qualification Form</strong></a></p>
            <p>Fill out the <strong>top</strong> portion of this document <strong>only</strong>; the <strong>Doctor</strong> will sign the rest.</p>
        </div>
        <div id="NewPatientBottom" style="padding: 7px 7px; text-align: center;">
            <p>We do ask that you please have these forms filled out <strong>before</strong> your visit, and to bring them with you. <br /> Otherwise, you can fill them out at the office.</p>
            <p>Please come 10-15 minutes earlier than your scheduled time in that case, for ample time to read and sign.</p>
            <p>If you have any other questions about your visit please contact us: <a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a> <br /> <a href="mailto:greenlivingstl@gmail.com" target="_self" data-content="greenlivingstl@gmail.com" data-type="mail">greenlivingstl@gmail.com </a></p>
        </div>
    </div>
    <div id="PatientFormsRight" style="float: right; margin-right: 10%; padding-bottom: 10px;"><img src="/images/uploaded/Services Images/1551401093997.jpeg" alt="doctor holding cannabis" width="600" height="520" /> </div>
</div>