<!-- #region Resources Source Code -->
@*<p><br /><br /></p>
    <div id="WRchTxtc" class="txtNew" data-packed="true">
        <h2 class="font_2" style="text-align: center;"><span style="font-size: 26pt;">Alternative Lifestyle Education Resource Links</span></h2>
    </div>
    <div id="WRchTxtf" class="txtNew" style="text-align: center;" data-packed="true">
        <p class="font_8"><span style="font-size: 10pt;">These are our resources for your holistic, plant based education. Click on any link below to find a program to help you gain the knowledge you desire to help you on your journey. </span></p>
        <p class="font_8"><span style="font-size: 10pt;"><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/uploaded/Endocannabinoid-System-Training.jpeg" alt="plant intelligence image" width="391" height="392" /></span></p>
    </div>
    <div class="txtNew" style="text-align: center;" data-packed="true"> </div>
    <div class="txtNew" style="text-align: center;" data-packed="true"><span style="font-size: 12pt;"><strong>Cannabis Education, Training, &amp; Certification</strong></span></div>
    <div id="WRchTxto" class="txtNew" data-packed="true">
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="https://themedicalcannabisinstitute.org/?ref=58" target="_blank" rel="undefined" data-content="https://themedicalcannabisinstitute.org/?ref=58" data-type="external">TMCI Education &amp; Certification</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://thesacredplant.com/watch" target="_blank" rel="undefined" data-content="https://thesacredplant.com/watch" data-type="external">The Sacred Plant Docuseries</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=220" target="_blank" rel="undefined" data-content="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=220" data-type="external">Herbal Medicine Workshop</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.greencultured.co/cannabiscollege/1030/" target="_blank" rel="undefined" data-content="https://www.greencultured.co/cannabiscollege/1030/" data-type="external">GreenCulturedED</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" target="_blank" rel="undefined" data-content="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" data-type="external">GreenFlower</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://two.thesacredplant.com/painmc" target="_blank" rel="undefined" data-content="https://two.thesacredplant.com/painmc" data-type="external">Pain Medicine Master Class</a></p>
            </li>
        </ul>
    </div>
    <div id="comp-jnc2x1g8" class="txtNew" data-packed="false" data-min-height="153">
        <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Cannabis News</span></h6>
        <p class="font_8"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="https://health.mo.gov/safety/medical-marijuana/index.php" target="_blank" rel="undefined" data-content="https://health.mo.gov/safety/medical-marijuana/index.php" data-type="external">Missouri Amendment 2 - HSS</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://healer.com/the-health-effects-of-cannabis/" target="_blank" rel="undefined" data-content="https://healer.com/the-health-effects-of-cannabis/" data-type="external">How is Cannabis Therapeutic?</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://www.bonnigoldsteinmd.com/cannabis-treatment-for-the-pediatric-patient/" target="_blank" rel="undefined" data-content="http://www.bonnigoldsteinmd.com/cannabis-treatment-for-the-pediatric-patient/" data-type="external"><span class="color_20">Children &amp; Cannabis</span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.greenbridgemed.com/conditions-treated/" target="_blank" rel="undefined" data-content="https://www.greenbridgemed.com/conditions-treated/" data-type="external">Conditions Treated with Cannabis</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.nap.edu/catalog/24625/the-health-effects-of-cannabis-and-cannabinoids-the-current-state" target="_blank" rel="undefined" data-content="https://www.nap.edu/catalog/24625/the-health-effects-of-cannabis-and-cannabinoids-the-current-state" data-type="external">The Health Effects of Cannabis &amp; Cannabinoids</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://www.medicalcannabis.com/about/health-care-professionals/supporting-organizations/" target="_blank" rel="undefined" data-content="http://www.medicalcannabis.com/about/health-care-professionals/supporting-organizations/" data-type="external">Organizations Supporting Access</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://www.medicalcannabis.com/cannabis-science/medical-history-timeline/" target="_blank" rel="undefined" data-content="http://www.medicalcannabis.com/cannabis-science/medical-history-timeline/" data-type="external">History of Cannabis</a></p>
            </li>
        </ul>
    </div>
    <div id="comp-jnc2lkkc" class="txtNew" data-packed="true">
        <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Cannabis Guides </span></h6>
        <p class="font_8"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="https://healer.com/programs/introduction-to-cannabis/" target="_blank" rel="undefined" data-content="https://healer.com/programs/introduction-to-cannabis/" data-type="external">Introduction to Cannabis</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://healer.com/programs/a-guide-to-shopping-for-cannabis/" target="_blank" rel="undefined" data-content="https://healer.com/programs/a-guide-to-shopping-for-cannabis/" data-type="external"><span class="color_20">Guide to Shopping for Cannabis</span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://healer.com/programs/endocannabinoid-diet-activities/" target="_blank" rel="undefined" data-content="https://healer.com/programs/endocannabinoid-diet-activities/" data-type="external">Endocannabinoid Food &amp; Activities</a></p>
            </li>
        </ul>
    </div>
    <div id="hzy0ykdc" class="txtNew" data-packed="true">
        <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Growing &amp; Gardening</span></h6>
        <p class="font_8"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=156" target="_blank" rel="undefined" data-content="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=156" data-type="external"><span class="color_20">Grow Your Own Groceries</span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://marcellapovis.towergarden.com/" target="_blank" rel="undefined" data-content="http://marcellapovis.towergarden.com/" data-type="external">Grow Anywhere, Anytime</a></p>
            </li>
        </ul>
    </div>
    <div id="WRchTxtb" class="txtNew" data-packed="false" data-min-height="210">
        <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Holistic Lifestyle </span></h6>
        <p class="font_8"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="http://www.tetyanaobukhanych.com/nif.html" target="_blank" rel="undefined" data-content="http://www.tetyanaobukhanych.com/nif.html" data-type="external">Immunity Fundamentals</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://abchomeopathy.com/" target="_blank" rel="undefined" data-content="http://abchomeopathy.com" data-type="external">ABC Homeopathy</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=159" target="_blank" rel="undefined" data-content="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=159" data-type="external"><span class="color_20">Home Medicine 101</span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.ewg.org/" target="_blank" rel="undefined" data-content="https://www.ewg.org/" data-type="external">Environmental Working Group</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.ewg.org/healthyhomeguide/#.W7u2d2hKjIU" target="_blank" rel="undefined" data-content="https://www.ewg.org/healthyhomeguide/#.W7u2d2hKjIU" data-type="external">Healthy Living Home Guide - Detox Your Home</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.saferemr.com/" target="_blank" rel="undefined" data-content="https://www.saferemr.com/" data-type="external">EMR Safety Info</a></p>
            </li>
        </ul>
    </div>
    <div id="hzy0ztui" class="txtNew" data-packed="false" data-min-height="148">
        <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Natural Parenting</span></h6>
        <p class="font_8" style="text-align: center;"><span style="font-size: 12pt;"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></span></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="https://marcellapovis.juiceplus.com/us/en/get-started/healthy-starts-about" target="_blank" rel="undefined" data-content="https://marcellapovis.juiceplus.com/us/en/get-started/healthy-starts-about" data-type="external">Healthy Starts for Families</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.tcoyf.com/" target="_blank" rel="undefined" data-content="https://www.tcoyf.com/" data-type="external"><span class="color_20">Fertility Awareness </span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://www.nancymohrbacher.com/" target="_blank" rel="undefined" data-content="http://www.nancymohrbacher.com/" data-type="external">Natural Breastfeeding Books &amp; Resources</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://www.barbhealth.com/articles/" target="_blank" rel="undefined" data-content="http://www.barbhealth.com/articles/" data-type="external">What Shall I Feed My Baby</a></p>
            </li>
        </ul>
    </div>
    <div id="comp-jmqzuloi" class="txtNew" data-packed="true">
        <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Nutrition</span></h6>
        <p class="font_8"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="http://www.shred10.com/" target="_blank" rel="undefined" data-content="http://www.shred10.com/" data-type="external">Shred10</a></p>
            </li>
            <li>
                <p class="font_8"><a href="http://glow-nutrition.com/" target="_blank" rel="undefined" data-content="http://glow-nutrition.com/" data-type="external"><span class="color_20">Glow Nutrition</span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://healthylivingrevolution.com/" target="_blank" rel="undefined" data-content="https://healthylivingrevolution.com/" data-type="external">Healthy Living Revolution</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://nutritionfacts.org/topics/plant-based-diets/" target="_blank" rel="undefined" data-content="https://nutritionfacts.org/topics/plant-based-diets/" data-type="external">Plant Based Eating</a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.fruitsandveggiesmorematters.org/" target="_blank" rel="undefined" data-content="https://www.fruitsandveggiesmorematters.org/" data-type="external">Eat More Fruits &amp; Veggies</a></p>
            </li>
        </ul>
    </div>
    <div id="comp-jn0y9nxb" class="txtNew" data-packed="true">
        <h6 class="font_6" style="text-align: center;"><span style="font-size: 12pt;">Mindfulness</span></h6>
        <p class="font_8"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="https://rd117.isrefer.com/go/AI-G-Med/livinggreenRC/" target="_blank" rel="undefined" data-content="https://rd117.isrefer.com/go/AI-G-Med/livinggreenRC/" data-type="external"><span class="color_20">AutoImmune Guided Meditation</span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.mindfulness.com/" target="_blank" rel="undefined" data-content="https://www.mindfulness.com/" data-type="external">Mindfulness.com</a></p>
            </li>
        </ul>
    </div>

    <div id="comp-jn0pxd4m" class="txtNew" data-packed="true">
        <h6 class="font_6" style="text-align: center;"><span class="color_20" style="font-size: 12pt;">Fitness </span></h6>
        <p class="font_8"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="https://www.essentrics.com/" target="_blank" rel="undefined" data-content="https://www.essentrics.com/" data-type="external"><span class="color_20">Essentrics</span></a></p>
            </li>
            <li>
                <p class="font_8"><a href="https://www.doyogawithme.com/" target="_blank" rel="undefined" data-content="https://www.doyogawithme.com/" data-type="external">Free Streaming Yoga</a></p>
            </li>
        </ul>
    </div>
    <div id="comp-jpljfnav" class="txtNew" data-packed="true">
        <h6 class="font_6" style="text-align: center;"><span class="color_20" style="font-size: 12pt;">Water, Water, Water </span></h6>
        <p class="font_8" style="text-align: center;"><span style="font-size: 12pt;"><a href="http://www.wix.com/templateslp/links" target="_blank" rel="undefined" data-content="http://www.wix.com/templateslp/links" data-type="external"><span class="color_15">​</span></a></span></p>
        <ul class="font_100">
            <li>
                <p class="font_8"><a href="http://livinggreenstl.kangendemo.com/" target="_blank" rel="undefined" data-content="http://livinggreenstl.kangendemo.com/" data-type="external"><span class="color_20">Change your Water, Change your Life</span></a></p>
            </li>
        </ul>
    </div>
    <div id="WPht3" class="ca1" title="pebbles 2" data-exact-height="411" data-content-padding-horizontal="0" data-content-padding-vertical="0" data-display-mode="fill">
        <div id="WPht3link" class="ca1link">
            <div id="WPht3img" class="ca1img" data-image-info="{&quot;imageData&quot;:{&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;c1w82&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;c1yng&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;pebbles 2&quot;,&quot;uri&quot;:&quot;6089cb4ae7f94a62b9e64693b29fbcd1.jpg&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:2000,&quot;height&quot;:1335,&quot;alt&quot;:&quot;Urban Gardening&quot;,&quot;name&quot;:&quot;Urban Gardening&quot;},&quot;displayMode&quot;:&quot;fill&quot;}" data-has-bg-scroll-effect="" data-style=""> </div>
        </div>
    </div>
    <p><br /><br /></p>*@
<!-- #endregion -->


<div id="resources">
    <div class="resourcesTop" style="text-align:center">
        <h2>Alternative Lifestyle Education Resource Links</h2>
        <p style="text-align: center">
            These are our resources for your holistic, plant-based education.

        <p style="text-align: center">
            Click on any link below to find a program to help you gain the knowledge you desire to help you on your journey.
        </p>
    </div>    <br />

    <div class="resourcesLeft" style="float:left; text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="CeTandC">
            <h4>Cannabis Education, Training, and Certification</h4>
            <ul>
                <li>
                    <p><a href="https://themedicalcannabisinstitute.org/?ref=58" target="_blank" rel="undefined" data-content="https://themedicalcannabisinstitute.org/?ref=58" data-type="external">TMCI Education &amp; Certification</a></p>
                </li>
                <li>
                    <p><a href="https://thesacredplant.com/watch" target="_blank" rel="undefined" data-content="https://thesacredplant.com/watch" data-type="external">The Sacred Plant Docuseries</a></p>
                </li>
                <li>
                    <p><a href="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=220" target="_blank" rel="undefined" data-content="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=220" data-type="external">Herbal Medicine Workshop</a></p>
                </li>
                <li>
                    <p><a href="https://www.greencultured.co/cannabiscollege/1030/" target="_blank" rel="undefined" data-content="https://www.greencultured.co/cannabiscollege/1030/" data-type="external">GreenCulturedED</a></p>
                </li>
                <li>
                    <p><a href="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" target="_blank" rel="undefined" data-content="http://www.gftracker.com/rd/r.php?sid=22&amp;pub=310740" data-type="external">GreenFlower</a></p>
                </li>
                <li>
                    <p><a href="https://two.thesacredplant.com/painmc" target="_blank" rel="undefined" data-content="https://two.thesacredplant.com/painmc" data-type="external">Pain Medicine Master Class</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="resourcesRight" style="float:right;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="cNews">
            <h4>Cannabis News</h4>
            <ul>
                <li>
                    <p><a href="https://health.mo.gov/safety/medical-marijuana/index.php" target="_blank" rel="undefined" data-content="https://health.mo.gov/safety/medical-marijuana/index.php" data-type="external">Missouri Amendment 2 - HSS</a></p>
                </li>
                <li>
                    <p><a href="https://healer.com/the-health-effects-of-cannabis/" target="_blank" rel="undefined" data-content="https://healer.com/the-health-effects-of-cannabis/" data-type="external">How is Cannabis Therapeutic?</a></p>
                </li>
                <li>
                    <p><a href="http://www.bonnigoldsteinmd.com/cannabis-treatment-for-the-pediatric-patient/" target="_blank" rel="undefined" data-content="http://www.bonnigoldsteinmd.com/cannabis-treatment-for-the-pediatric-patient/" data-type="external"><span class="color_20">Children &amp; Cannabis</span></a></p>
                </li>
                <li>
                    <p><a href="https://www.greenbridgemed.com/conditions-treated/" target="_blank" rel="undefined" data-content="https://www.greenbridgemed.com/conditions-treated/" data-type="external">Conditions Treated with Cannabis</a></p>
                </li>
                <li>
                    <p><a href="https://www.nap.edu/catalog/24625/the-health-effects-of-cannabis-and-cannabinoids-the-current-state" target="_blank" rel="undefined" data-content="https://www.nap.edu/catalog/24625/the-health-effects-of-cannabis-and-cannabinoids-the-current-state" data-type="external">The Health Effects of Cannabis &amp; Cannabinoids</a></p>
                </li>
                <li>
                    <p><a href="http://www.medicalcannabis.com/about/health-care-professionals/supporting-organizations/" target="_blank" rel="undefined" data-content="http://www.medicalcannabis.com/about/health-care-professionals/supporting-organizations/" data-type="external">Organizations Supporting Access</a></p>
                </li>
                <li>
                    <p><a href="http://www.medicalcannabis.com/cannabis-science/medical-history-timeline/" target="_blank" rel="undefined" data-content="http://www.medicalcannabis.com/cannabis-science/medical-history-timeline/" data-type="external">History of Cannabis</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>    <br />

    <div class="resourcesLeft" style="float:left;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="cGuides">
            <h4>Cannabis Guides</h4>
            <ul>
                <li>
                    <p><a href="https://healer.com/programs/introduction-to-cannabis/" target="_blank" rel="undefined" data-content="https://healer.com/programs/introduction-to-cannabis/" data-type="external">Introduction to Cannabis</a></p>
                </li>
                <li>
                    <p><a href="https://healer.com/programs/a-guide-to-shopping-for-cannabis/" target="_blank" rel="undefined" data-content="https://healer.com/programs/a-guide-to-shopping-for-cannabis/" data-type="external"><span class="color_20">Guide to Shopping for Cannabis</span></a></p>
                </li>
                <li>
                    <p><a href="https://healer.com/programs/endocannabinoid-diet-activities/" target="_blank" rel="undefined" data-content="https://healer.com/programs/endocannabinoid-diet-activities/" data-type="external">Endocannabinoid Food &amp; Activities</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="resourcesRight" style="float:right;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="growingAndGardening">
            <h4>Growing & Gardening</h4>
            <ul>
                <li>
                    <p><a href="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=156" target="_blank" rel="undefined" data-content="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=156" data-type="external"><span class="color_20">Grow Your Own Groceries</span></a></p>
                </li>
                <li>
                    <p><a href="http://marcellapovis.towergarden.com/" target="_blank" rel="undefined" data-content="http://marcellapovis.towergarden.com/" data-type="external">Grow Anywhere, Anytime</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>    <br />

    <div class="resourcesLeft" style="float:left;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="holisticLifestyle">
            <h4>Holistic Lifestyle</h4>
            <ul>
                <li>
                    <p><a href="http://www.tetyanaobukhanych.com/nif.html" target="_blank" rel="undefined" data-content="http://www.tetyanaobukhanych.com/nif.html" data-type="external">Immunity Fundamentals</a></p>
                </li>
                <li>
                    <p><a href="http://abchomeopathy.com/" target="_blank" rel="undefined" data-content="http://abchomeopathy.com" data-type="external">ABC Homeopathy</a></p>
                </li>
                <li>
                    <p><a href="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=159" target="_blank" rel="undefined" data-content="http://ddddddd.ontraport.com/t?orid=326444&amp;opid=159" data-type="external"><span class="color_20">Home Medicine 101</span></a></p>
                </li>
                <li>
                    <p><a href="https://www.ewg.org/" target="_blank" rel="undefined" data-content="https://www.ewg.org/" data-type="external">Environmental Working Group</a></p>
                </li>
                <li>
                    <p><a href="https://www.ewg.org/healthyhomeguide/#.W7u2d2hKjIU" target="_blank" rel="undefined" data-content="https://www.ewg.org/healthyhomeguide/#.W7u2d2hKjIU" data-type="external">Healthy Living Home Guide - Detox Your Home</a></p>
                </li>
                <li>
                    <p><a href="https://www.saferemr.com/" target="_blank" rel="undefined" data-content="https://www.saferemr.com/" data-type="external">EMR Safety Info</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="resourcesRight" style="float:right;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="naturalParenting">
            <h4>Natural Parenting</h4>
            <ul>
                <li>
                    <p><a href="https://marcellapovis.juiceplus.com/us/en/get-started/healthy-starts-about" target="_blank" rel="undefined" data-content="https://marcellapovis.juiceplus.com/us/en/get-started/healthy-starts-about" data-type="external">Healthy Starts for Families</a></p>
                </li>
                <li>
                    <p><a href="https://www.tcoyf.com/" target="_blank" rel="undefined" data-content="https://www.tcoyf.com/" data-type="external"><span class="color_20">Fertility Awareness </span></a></p>
                </li>
                <li>
                    <p><a href="http://www.nancymohrbacher.com/" target="_blank" rel="undefined" data-content="http://www.nancymohrbacher.com/" data-type="external">Natural Breastfeeding Books &amp; Resources</a></p>
                </li>
                <li>
                    <p><a href="http://www.barbhealth.com/articles/" target="_blank" rel="undefined" data-content="http://www.barbhealth.com/articles/" data-type="external">What Shall I Feed My Baby</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>    <br />

    <div class="resourcesLeft" style="float: left;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="nutrition">
            <h4>Nutrition</h4>
            <ul>
                <li>
                    <p><a href="http://www.shred10.com/" target="_blank" rel="undefined" data-content="http://www.shred10.com/" data-type="external">Shred10</a></p>
                </li>
                <li>
                    <p><a href="http://glow-nutrition.com/" target="_blank" rel="undefined" data-content="http://glow-nutrition.com/" data-type="external"><span class="color_20">Glow Nutrition</span></a></p>
                </li>
                <li>
                    <p><a href="https://healthylivingrevolution.com/" target="_blank" rel="undefined" data-content="https://healthylivingrevolution.com/" data-type="external">Healthy Living Revolution</a></p>
                </li>
                <li>
                    <p><a href="https://nutritionfacts.org/topics/plant-based-diets/" target="_blank" rel="undefined" data-content="https://nutritionfacts.org/topics/plant-based-diets/" data-type="external">Plant Based Eating</a></p>
                </li>
                <li>
                    <p><a href="https://www.fruitsandveggiesmorematters.org/" target="_blank" rel="undefined" data-content="https://www.fruitsandveggiesmorematters.org/" data-type="external">Eat More Fruits &amp; Veggies</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="resourcesRight" style="float:right;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="mindfulness">
            <h4>Mindfulness</h4>
            <ul>
                <li>
                    <p><a href="https://rd117.isrefer.com/go/AI-G-Med/livinggreenRC/" target="_blank" rel="undefined" data-content="https://rd117.isrefer.com/go/AI-G-Med/livinggreenRC/" data-type="external"><span class="color_20">AutoImmune Guided Meditation</span></a></p>
                </li>
                <li>
                    <p><a href="https://www.mindfulness.com/" target="_blank" rel="undefined" data-content="https://www.mindfulness.com/" data-type="external">Mindfulness.com</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>
    <br />
    <div class="resourcesLeft" style="float:left;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="fitness">
            <h4>Fitness</h4>
            <ul class="font_100">
                <li>
                    <p><a href="https://www.essentrics.com/" target="_blank" rel="undefined" data-content="https://www.essentrics.com/" data-type="external"><span class="color_20">Essentrics</span></a></p>
                </li>
                <li>
                    <p><a href="https://www.doyogawithme.com/" target="_blank" rel="undefined" data-content="https://www.doyogawithme.com/" data-type="external">Free Streaming Yoga</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="resourcesRight" style="float:right;text-align:center; width:46%;border: 5px solid #376234; border-radius: 12px; background-color: #c5c7c5">
        <div class="Water">
            <h4>Water</h4>
            <ul>
                <li>
                    <p><a href="http://livinggreenstl.kangendemo.com/" target="_blank" rel="undefined" data-content="http://livinggreenstl.kangendemo.com/" data-type="external"><span class="color_20">Change your Water, Change your Life</span></a></p>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>
    <br />
</div>
<br />
<br />