@{
    Layout = "_Root";
}

<!--
<!-- #region source code from MMJ Card -->
@*
    "On Nov. 6, 2018 Missouri voters approved <a href="https://health.mo.gov/safety/medical-marijuana/" target="_blank" rel="undefined" data-content="https://health.mo.gov/safety/medical-marijuana/" data-type="external">Amendment 2</a> to permit state-licensed physicians to recommend marijuana for medical purposes to patients with serious illnesses and medical conditions." (1)  This is a huge win for Missourians and their health!

    We are offering the opportunity to begin the pre-certification process NOW to be one of the FIRST in line to apply and to get your Medical Cannabis Card for your qualifying condition. 
    While the State continues to work on the official certification form and application process, you will have all of the required information when applications are released beginning of June, 2019.  Here at Living Green Resource Center are providing you with all the updated information as it becomes available from DHSS.  We will help guide you through the complete application process, so that you will be one of the first to receive your Legal Medical Marijuana card.

    If you are a Missouri State resident and suffer from any of the MO state-approved conditions listed below, call or book your appointment today. Call Living Green Resource Center NOW to schedule your appointment.  <a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a>
*@
@*<ul>
        <li>
            PTSD (Post-Traumatic Stress Disorder)
        </li>
        <li>
            A chronic medical condition that causes severe, persistent pain or persistent muscle spasms, including but not limited to those associated with multiple sclerosis, seizures, Parkinson’s
        </li>
        <li>
            Cancer
        </li>
        <li>
            Epilepsy
        </li>
        <li>
            Glaucoma
        </li>
        <li>
            Intractable migraines unresponsive to other treatment
        </li>
        <li>
            HIV/AIDS
        </li>
        <li>
            Any terminal illness
        </li>
        <li>
            A chronic medical condition that is normally treated with a prescription medication that could lead to physical or psychological dependence, when a physician determines that medical use of marijuana could be effective in treating that condition and would serve as a safer alternative to the prescription medication
        </li>
        <li>
            In the professional judgment of a physician, any other chronic, debilitating or other medical condition, including, but not limited to, hepatitis C, amyotrophic lateral sclerosis, inflammatory bowel disease, Crohn’s disease, Huntington’s disease, autism, neuropathies, sickle cell anemia, agitation of Alzheimer’s disease, cachexia and wasting syndrome
        </li>
    </ul>*@
@*<h2 class="font_2"> </h2>
    <h2 class="font_2" style="text-align: center;">Call NOW to schedule your appointment!</h2>
    <h2 class="font_2" style="text-align: center;"><a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a></h2>
    <p class="font_7" style="text-align: center;"><strong> OR</strong></p>*@
<!-- Start Square Appointments Embed code -->
@*<p style="text-align: center;"><a style="background-color: #007f2b; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; text-decoration: none; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block;" href="https://square.site/book/92P6YC9S4NSY8/living-green-saint-louis-crestwood-mo" target="_blank" rel="nofollow">Book an Appointment</a></p>
    <p style="text-align: center;"><span style="font-size: 12pt;">For more information call us directly or send an email to: <a href="mailto:livinggreenstlouis@gmail.com" target="_self" data-content="livinggreenstlouis@gmail.com" data-type="mail">livinggreenstlouis@gmail.com </a> </span></p>


        <p style="text-align: center;"><span style="font-size: 12pt;"><strong>Have more questions? Visit our <a href="http://www.liviinggreenstl.com/faq">FAQ!</a></strong></span></p>*@

@*<div>
                <h1 class="font_0" style="text-align: center;">The Process</h1>
            When booking your appointment you will be able to select a time from our Doctor's scheduled availability. Please review the process below and and have all required documentation for your scheduled appointment.

              Step 1 - Click <a href="https://www.livinggreenstl.com/new-patient" target="_self">here</a> for all New Patient Document forms. Please bring your valid state issued Missouri ID, or passport with a current Missouri address. Bring your military ID if applicable. There is no age restriction in Missouri; however, minors under 18 years of age will need a Primary Caregiver to accompany them in this process - please see DHSS website for <a href="https://health.mo.gov/safety/medical-marijuana/faqs.php" target="_blank" rel="undefined" data-content="https://health.mo.gov/safety/medical-marijuana/faqs.php" data-type="external">FAQ</a> to see who qualifies as a Primary Caregiver.

          Step 2 - To fully asses your medical condition please send any medical documentation you can supply that will assist in this process. Documents may include but are not limited to: a letter from your physician, any current prescriptions, x-ray/MRI results, lab work, blood test results, military records, worker’s compensation and/or disability paperwork. Please review the above approved conditions and have paperwork prepared to support your condition

              Step 3 - Please schedule your appointment by clicking "<a href="https://www.livinggreenstl.com/book-online" target="_self">Book Now</a>" or calling <a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">Living Green Resource Center</a>. We will ask for you to pay the cost upfront and, again, please have any documentation you already have regarding your condition prepared to bring with you. 

             Step 4 - Our doctor will review your medical records and further evaluate your condition. They will review all information as it pertains to the use of cannabis treatment for you and your specific condition. Based on the doctors professional opinion they will provide you with a physician certification required for a medical marijuana card in the state of Missouri, within 30 days

       Costs:
                <p style="text-align: justify;"><span style="font-size: 12pt;">$199 for Missouri Medical Cannabis Physician Consult and Certification</span></p>
                <p class="font_7" style="text-align: justify;"><span style="font-size: 12pt;">Discount consultation fees for Veterans</span></p>
                <p class="font_7" style="text-align: justify;"><span style="font-size: 12pt;">Discount consultation fees for Low Income Families </span></p>
                <p class="font_7" style="text-align: justify;"><span style="font-size: 12pt;">Discount consultation fees for Patients on disability</span></p>

              Step 5 - Once DHSS issues how to send the completed application packet to them, we will guide you through this process. Please check with us or the DHSS website for the required documents for the packet, in addition you will need to register with the Missouri Medical Marijuana Program and pay the appropriate fees required to obtain your medical Marijuana card in the state of Missouri (both the MMJ card ($25) and the cultivation card ($100) have their own individual fees). An <a href="https://health.mo.gov/safety/medical-marijuana/faqs.php" target="_blank" rel="undefined" data-content="https://health.mo.gov/safety/medical-marijuana/faqs.php" data-type="external">application form</a> is being developed by the State of Missouri and will be available online no later than June 4, 2019 to complete this step.

                Step 5 from website-- use this one it's current'
                 Either you can take your certification and file your application yourself, or we offer a service to upload & apply for you on your behalf. First, your account will need to be created in the portal, then verify the account created through an email which will be sent to the email address you provide. Once verified you are registered with the Missouri Medical Marijuana Program. Then your application will need to uploaded digitally. In addition the digital fees from DHSS required to obtain your medical Marijuana card in the state of Missouri: MMJ card ($25) and the cultivation card ($100) plus a processing fee on both charges; $25+$1.25=$26.25 for the mmj card, and the $25+$100+$2.69=$127.69.
    Once all the information is uploaded then your application is ready to be submitted.


             Step 6 - According to Amendment 2, DHSS has 30 days to approve or deny your application packet from the date submitted.  When approved, your card will be mailed to you. As a card holder you are able to legally purchase 4 oz. of medical cannabis per month from ANY of the licensed dispensaries set up in the state of Missouri (and/or with a Cultivation card you are legally allowed to cultivate up to six (6) flowering plants for personal use by the QP). Your card will be valid for 1 year from date of issue, and will need to be renewed annually. Please contact us directly 30 days prior to your card expiration date to set an appointment for your renewal certification. If the card is denied you will receive correspondence from DHSS as to why within 30 days of application.

         We will be here to assist you throughout the entire process. Please contact us directly for any additional information.
           Be Well!!

                <p class="font_7" style="text-align: center;"><span class="wixGuard" style="font-size: 12pt;">​</span></p>
                <h2 class="font_2" style="text-align: center;">Call NOW to schedule your appointment!</h2>
                <h2 class="font_2" style="text-align: center;"><a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a></h2>
                <p class="font_7" style="text-align: center;"><span style="font-size: 11pt;"><strong> OR</strong></span></p>
            </div>
            <!-- Start Square Appointments Embed code -->
            <p style="text-align: center;"><a style="background-color: #007f2b; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block; text-decoration: none;" href="https://square.site/book/92P6YC9S4NSY8/living-green-saint-louis-crestwood-mo" target="_blank" rel="nofollow">Book an Appointment</a></p>
            <p style="text-align: center;"><span style="font-size: 12pt;">For more information call us directly or send an email to: <a href="mailto:livinggreenstlouis@gmail.com" target="_self" data-content="livinggreenstlouis@gmail.com" data-type="mail">livinggreenstlouis@gmail.com </a> </span></p>
            <p style="text-align: center;"><span style="font-size: 12pt;"><strong>Have more questions? Visit our <a href="http://www.livinggreenstl.com/faq">FAQ!</a></strong></span></p>
            <!-- End Square Appointments Embed code -->
        </div>
*@
<!-- #endregion -->





<div class="container">

    <div id="MmjTop">
        <div id="TopMain">
            <p><span> On Nov. 6, 2018 Missouri voters approved <a href="https://health.mo.gov/safety/medical-marijuana/" target="_blank" rel="undefined" data-content="https://health.mo.gov/safety/medical-marijuana/" data-type="external">Amendment 2</a> to permit state-licensed physicians to recommend marijuana for medical purposes to patients with serious illnesses and medical conditions." (1)  This is a huge win for Missourians and their health!</span></p>
        </div>
        <div id="TopInfoMain">
            <div id="TopInfo1">
                <p>
                    We are offering the opportunity to begin the pre-certification process NOW to be one of the FIRST in line to apply and to get your Medical Cannabis Card for your qualifying condition. 
                    While the State continues to work on the official certification form and application process, you will have all of the required information when applications are released beginning of June, 2019. Here at Living Green Resource Center are providing you with all the updated information as it becomes available from DHSS. We will help guide you through the complete application process, so that you will be one of the first to receive your Legal Medical Marijuana card.
                </p>
            </div>
            <div id="TopInfo2">
                <p>
                    If you are a Missouri State resident and suffer from any of the MO state-approved conditions listed below, call or book your appointment today. Call Living Green Resource Center NOW to schedule your appointment.  <a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a>
                </p>
            </div>
            <div id="TopInfo3">
                <ul id="mmjConditions">
                    <li>
                        <span class="conditionHeaders">PTSD - (Post-Traumatic Stress Disorder)</span>
                        <ul>
                            <li>
                                A chronic medical condition that causes severe, persistent pain or persistent muscle spasms, including but not limited to those associated with multiple sclerosis, seizures, Parkinson’s disease, and Tourette’s syndrome.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="conditionHeaders">Cancer</span>
                    </li>
                    <li>
                        <span class="conditionHeaders">Epilepsy</span>
                    </li>
                    <li>
                        <span class="conditionHeaders">Glaucoma</span>
                    </li>
                    <li>
                        <span class="conditionHeaders">Intractable migraines unresponsive to other treatment</span>
                    </li>
                    <li>
                        <span class="conditionHeaders">HIV/Aids</span>
                    </li>
                    <li>
                        <span class="conditionHeaders">Terminal Illness</span>
                        <ul>
                            <li>
                                A chronic medical condition that is normally treated with a prescription medication that could lead to physical or psychological dependence, when a physician determines that medical use of marijuana could be effective in treating that condition and would serve as a safer alternative to the prescription medication
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="conditionHeaders">  In the professional judgment of a physician, any other chronic, debilitating or other medical condition, including, but not limited to, hepatitis C, amyotrophic lateral sclerosis, inflammatory bowel disease, Crohn’s disease, Huntington’s disease, autism, neuropathies, sickle cell anemia, agitation of Alzheimer’s disease, cachexia and wasting syndrome</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="appointmentSection" id="AppointmentSection">
        <div id="ApptTop">
            <h2>Call NOW to schedule your appointment!</h2>
            <h2><a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a></h2>
            <h4>OR</h4>
        </div>
        <div id="SquareEmbedCode">
            <!-- Start Square Appointments Embed code -->
            <p>
                <a style="background-color: #007f2b; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; text-decoration: none; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block;" href="https://square.site/book/92P6YC9S4NSY8/living-green-saint-louis-crestwood-mo" target="_blank" rel="nofollow">
                    Book an Appointment
                </a>
            </p>
            <!--End Square Embed Code-->
        </div>
        <div id="ApptBottom">
            <p>
                <span>
                    For more information call us directly or send an email to: <a href="mailto:livinggreenstlouis@gmail.com" target="_self" data-content="livinggreenstlouis@gmail.com" data-type="mail">livinggreenstlouis@gmail.com </a>
                </span>
            </p>

            <!--The below link to the FAQ is kind of up in the air right now.. TBC'd  note: from what I can see, the only "faq" on the old page is at the bottom of the MMJ card page-->
            <p>
                <span>
                    <strong>Have more questions? Visit our <a href="http://www.liviinggreenstl.com/faq">FAQ!</a></strong>
                </span>
            </p>
        </div>
    </div>

    <div id="MmjBottom">
        <div id="MmjProcess">
            <h1>The Process</h1>
            <p>
                <span>When booking your appointment you will be able to select a time from our Doctor's scheduled availability. Please review the process below and and have all required documentation for your scheduled appointment.</span>
            </p>
            <ol class="processSteps">
                <li id="Step1">
                    <p>
                        Click <a href="https://www.livinggreenstl.com/new-patient" target="_self">here</a> for all New Patient Document forms. Please bring your valid state issued Missouri ID, or passport with a current Missouri address. Bring your military ID if applicable. There is no age restriction in Missouri; <strong>however</strong>, minors under 18 years of age will need a Primary Caregiver to accompany them in this process - please see DHSS website for <a href="https://health.mo.gov/safety/medical-marijuana/faqs.php" target="_blank" rel="undefined" data-content="https://health.mo.gov/safety/medical-marijuana/faqs.php" data-type="external">FAQ</a> to see who qualifies as a Primary Caregiver.
                    </p>
                </li>
                <li id="Step2">
                    <p>
                        To fully asses your medical condition, please send any medical documentation you can supply that will assist in this process. Documents may include but are not limited to:
                        <ul>
                            <li>
                                A letter from your physician, any current prescriptions
                            </li>
                            <li>
                                X-ray/MRI results, lab work
                            </li>
                            <li>
                                Blood test results
                            </li>
                            <li>
                                Military Records
                            </li>
                            <li>
                                Worker’s compensation and/or disability paperwork
                            </li>
                        </ul>
                        Please review the above approved conditions and have paperwork prepared to support your condition.
                    </p>
                </li>
                <li id="Step3">
                    <p>
                        Please schedule your appointment by clicking "<a href="https://square.site/book/92P6YC9S4NSY8/living-green-saint-louis-crestwood-mo" target="_self">Book Now</a>" or calling <a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">Living Green Resource Center</a>. We will ask for you to pay the cost upfront and, again, please have any documentation you already have regarding your condition prepared to bring with you.
                    </p>
                </li>
                <li id="Step4">
                    <p>
                        Our doctor will review your medical records and further evaluate your condition. They will review all information as it pertains to the use of cannabis treatment for you and your specific condition. Based on the doctors professional opinion, they will provide you with a physician certification required for a medical marijuana card in the state of Missouri within 30 days.
                    </p>
                    <p><strong>Costs</strong></p>
                    <ol>
                        <li>
                            <p>
                                <strong>$199</strong> for Missouri Medical Cannabis Physician Consult and Certification
                            </p>
                        </li>
                        <li>
                            <p>
                                Discount consultation fees for <strong>Veterans</strong>
                            </p>
                        </li>
                        <li>
                            <p>
                                Discount consultation fees for <strong>Low Income Families</strong>
                            </p>
                        </li>
                        <li>
                            <p>
                                Discount consultation fees for <strong>Patients on disability</strong>
                            </p>
                        </li>
                    </ol>
                </li>
                <li id="Step5">
                    <p>
                        Either you can take your certification and file your application yourself, or we offer a service to upload & apply for you on your behalf. First, your account will need to be created in the portal, then verify the account created through an email which will be sent to the email address you provide.
                    </p>
                    <p>
                        Once verified, you are registered with the Missouri Medical Marijuana Program. Your application will then need to uploaded digitally.
                        In addition, there are digital fees from DHSS required to obtain your medical Marijuana card in the state of Missouri:
                        <ul>
                            <li>
                                MMJ card ($25)
                            </li>
                            <li>
                                Cultivation Card ($100)
                            </li>
                        </ul>
                        Plus a processing fee of $1.25 and $2.69, bringing totals to $26.25 ($25 + $1.25), and $127.29 ($25 + $100 + $2.69) respectively.

                    </p>
                    <p>
                        Once all the information is uploaded then your application is ready to be submitted.
                    </p>

                </li>
                <li id="Step6">
                    <p>
                        According to Amendment 2, DHSS has 30 days to approve or deny your application packet from the date submitted. If your application is rejected for a reason of missing information, we can help correct the issue and resubmit the application.
                    </p>
                    <p>
                        When approved, you will receive a temporary digital approval and your card will be mailed to you. As a card holder, you are able to legally purchase 4 oz. of medical cannabis per month from ANY of the licensed dispensaries set up in the state of Missouri (and/or with a Cultivation card, you are legally allowed to cultivate up to six (6) flowering plants for personal use). Your card will be valid for<strong> 1 year </strong>from date of issue, and will need to be <strong>renewed annually</strong>.
                    </p>
                    <p>
                        We will contact you directly 30 days (no more than 60) prior to your card expiration date to set an appointment for your renewal certification. If the card is denied you will receive correspondence from DHSS as to why within 30 days of application.
                    </p>
                </li>
            </ol>
            <p>
                We will be here to assist you throughout the entire process. Please contact us directly for any additional information.
            </p>
            <p><strong>Be Well!!</strong></p>
        </div>



    </div>

    <div class="appointmentSection" id="AppointmentSection">
        <div id="ApptTop">
            <h2>Call NOW to schedule your appointment!</h2>
            <h2><a href="tel:314-338-1200" data-content="314-338-1200" data-type="phone">314-338-1200</a></h2>
            <h4>OR</h4>
        </div>
        <div id="SquareEmbedCode">
            <!-- Start Square Appointments Embed code -->
            <p>
                <a style="background-color: #007f2b; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; text-decoration: none; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block;" href="https://square.site/book/92P6YC9S4NSY8/living-green-saint-louis-crestwood-mo" target="_blank" rel="nofollow">
                    Book an Appointment
                </a>
            </p>
            <!--End Square Embed Code-->
        </div>
        <div id="ApptBottom">
            <p>
                <span>
                    For more information call us directly or send an email to: <a href="mailto:livinggreenstlouis@gmail.com" target="_self" data-content="livinggreenstlouis@gmail.com" data-type="mail">livinggreenstlouis@gmail.com </a>
                </span>
            </p>

            <!--The below link to the FAQ is kind of up in the air right now.. TBC'd  note: from what I can see, the only "faq" on the old page is at the bottom of the MMJ card page-->
            <p>
                <span>
                    <strong>Have more questions? Visit our <a href="http://www.liviinggreenstl.com/faq">FAQ!</a></strong>
                </span>
            </p>
        </div>
    </div>

</div>








